/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: #674baf;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
#page-home{
    width: 90%;
    height: 90%;
    max-height: 800px;
    margin: 0 auto;
}
header{
    height: 25%;
    display: flex;
    align-items: center;
}
header a img{
    width: max(20%, 180px);
    max-width: 242px;
}
#content{
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "image title"
    "image texto"
    "image button"
    ;
}
#content .grid-item1{
    grid-area: image;
}

#content .grid-item2{
    grid-area: title;
    margin-left: 10%;
    display: flex;
    align-items: flex-end;
}
#content .grid-item3{
    grid-area: texto;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}
#content .grid-item3 a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 180px;
    height: 50px;
    margin-top: 20px;
    background-color: white;
    color: #674baf;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 2px 10px #22193a;
    transition: 150ms;
}
#content .grid-item3 a:hover{
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}
#content .grid-item3 p{
    margin-top: 30px;
    font-size: 1.2rem;
}
#footer{
    width: 90%;
    height: 10%;
    margin: 0 auto;
}
footer{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer #socials a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    margin-left: 20px;
    transition: color 150ms;
}
footer #socials a:hover{
    color: hsl(300, 69%, 71%);
    text-shadow: 0 2px 10px #22193a;
}
footer p.attribution{
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    color: #fff;
}
footer p.attribution a{
    text-decoration: none;
    color: #fff;
}
footer p.attribution a:hover{
    color: #d1d1d1;
}
 
@media(min-width: 1400px){
    #content{
        max-width: 1300px;
    }
    footer{
        max-width: 1300px;
    }
}
@media(max-width: 1100px){
    #content .grid-item1{
        display: flex;
        align-items: center;
        margin-bottom: 100px;
    }
    #content .grid-item1 img{
        width: max(100%, 300px);
    }
    #content .grid-item3 p,
    #content .grid-item3 a{
        font-size: max(1rem, 10px);
    }
}
@media(max-width: 900px){
    #content .grid-item1{
        display: flex;
        align-items: center;
    }
    #content .grid-item3 h1{
        width: max(100%, 400px);
    }
    #content .grid-item3 p,
    #content .grid-item3 a{
        font-size: max(2.2vw, 12px);
    }
}
@media(max-width: 660px){
    #content{
        display: flex;
        flex-direction: column; 
        align-items: center;     
    }
    #content .grid-item1{
        margin: 0 0 30px 0;
    }
    #content .grid-item1 img{
        width: 50vw;
    }
    #content .grid-item2,
    #content .grid-item3{
        margin: 0;
    }
    #content .grid-item2 h1{
        font-size: 5vw;
        text-align: center;
    }
    #content .grid-item3{
        display: flex;
        align-items: center;
    }
    #content .grid-item3 p{
        font-size: 3vw;
        text-align: center;
    }
    #content .grid-item3 a{
        width: 80%;
        height: min(20vw, 85px);
        font-size: 3vw;
        border-radius: 40px;
        margin-top: 30px;
    }
    header a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer {
        display: grid;
        justify-content: center;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "soci" "atri";
    }
    footer p.attribution{
        grid-area: atri;
        text-align: center;
        font-size: min(5vw, 10px);
    }
    footer #socials{
        grid-area: soci;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer #socials a{
        margin: 0 10px;
    }
}
@media(max-width: 320px){
    body{
        background-image: url(/images/bg-mobile.svg);
    }
}